$animationDuration: 0.8s;
$animationSize: 100px;

[data-aoe] {
	animation-duration: $animationDuration;
	animation-fill-mode: forwards;
	opacity: 0;
}

@mixin disableIE {
	[data-aoe] {
		opacity: 1 !important;
		animation: none !important;
	}
}

.safari {
	@include disableIE();
}

@media screen and (max-width: 1023px) {
	@include disableIE();
}

.infinite {
	animation-iteration-count: infinite;
}

.pulsate {
	animation-name: pulsate;
	transform-origin: center;
	opacity: 1;
}

@keyframes pulsate {
	0% {
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}

	50% {
		transform: scale3d(0.8, 0.8, 0.8);
	}

	100% {
		animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}

.blink {
	animation-name: blink;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	25% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.hitLeft {
	animation-name: hitLeft;
	backface-visibility: hidden;
}

@keyframes hitLeft {
	0% {
		animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
		transform: translateX(-#{$animationSize});
	}

	40% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: translateX(20px) rotate(4deg);
	}

	100% {
		opacity: 1;
	}
}

.hitRight {
	animation-name: hitRight;
	backface-visibility: hidden;
}

@keyframes hitRight {
	0% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
		transform: translateX(#{$animationSize});
	}

	40% {
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: translateX(-20px) rotate(-4deg);
	}

	100% {
		opacity: 1;
	}
}

.shake {
	animation-name: shake;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	opacity: 1;
}

@keyframes shake {
	10% {
		transform: translateX(-10px);
	}

	20% {
		transform: translateX(10px);
	}

	30% {
		transform: translateX(-10px);
	}

	40% {
		transform: translateX(10px);
	}

	50% {
		transform: translateX(-10px);
	}

	60% {
		transform: translateX(10px);
	}

	70% {
		transform: translateX(-10px);
	}

	80% {
		transform: translateX(10px);
	}

	90% {
		transform: translateX(-10px);
	}

	100% {
		transform: translateX(10px);
	}
}

.ball {
	animation-name: ball;
}

@keyframes ball {
	0% {
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transform: translate3d(0, 0, 0);
		opacity: 0;
	}

	20% {
		animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
		transform: translate3d(0, -100px, 0);
		opacity: 1;
	}

	40% {
		animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
		transform: translate3d(0, 0, 0);
	}

	60% {
		animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
		transform: translate3d(0, -30px, 0);
	}

	75% {
		animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
		transform: translate3d(0, 0, 0);
	}

	85% {
		animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
		transform: translate3d(0, -15px, 0);
	}

	100% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: translate3d(0, 0, 0);
	}
}

.pull {
	animation-name: pull;
	backface-visibility: hidden;
}

@keyframes pull {
	0% {
		transform: scale3d(0, 0, 0);
	}

	50% {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: scale3d(1, 0, 1);
		transform-origin: center top;
		opacity: 1;
	}

	100% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: scale3d(1, 1, 1);
	}
}

.pullLeft {
	animation-name: pullLeft;
	backface-visibility: hidden;
}

@keyframes pullLeft {
	0% {
		transform: scale3d(0, 1, 1);
	}

	50% {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: scale3d(0, 1, 1);
		transform-origin: center left;
		opacity: 1;
	}

	100% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}

.pullRight {
	animation-name: pullRight;
	backface-visibility: hidden;
}

@keyframes pullRight {
	0% {
		transform: scale3d(0, 1, 1);
	}

	50% {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: scale3d(0, 1, 1);
		transform-origin: center right;
		opacity: 1;
	}

	100% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}

.jumpInLeft {
	animation-name: jumpInLeft;
	animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	backface-visibility: hidden;
}

@keyframes jumpInLeft {
	0% {
		transform: scale3d(0.5, 0.5, 0.5);
	}

	50% {
		opacity: 1;
		transform: scale3d(1.2, 1.2, 1.2) rotate(10deg);
	}

	70% {
		transform: scale3d(0.9, 0.9, 0.9) rotate(-5deg);
	}

	90% {
		transform: scale3d(1, 1, 1) rotate(0deg);
	}

	100% {
		opacity: 1;
	}
}

.jumpInRight {
	animation-name: jumpInRight;
	animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	backface-visibility: hidden;
}

@keyframes jumpInRight {
	0% {
		transform: scale3d(0.5, 0.5, 0.5);
	}

	50% {
		opacity: 1;
		transform: scale3d(1.2, 1.2, 1.2) rotate(-10deg);
	}

	70% {
		transform: scale3d(0.9, 0.9, 0.9) rotate(5deg);
	}

	90% {
		transform: scale3d(1, 1, 1) rotate(0deg);
	}

	100% {
		opacity: 1;
	}
}

.rollIn {
	animation-name: rollIn;

	backface-visibility: hidden;
}

@keyframes rollIn {
	0% {
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: translateY(#{$animationSize}) rotate(-445deg);
	}

	30% {
		opacity: 1;
	}

	50% {
		transform: translateY(-20px) rotate(-20deg);
	}

	100% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transform: translateY(0) rotate(0deg);
	}
}

.popIn {
	animation-name: popIn;
}

@keyframes popIn {
	0% {
		transform: scale3d(0, 0, 0);
	}

	20% {
		opacity: 1;
	}

	40% {
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: scale3d(1.08, 1.08, 1.08);
	}

	60% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scale3d(1, 1, 1);
	}

	80% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scale3d(1.03, 1.03, 1.03);
	}

	100% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: scale3d(1, 1, 1);
	}
}

.popInLeft {
	animation-name: popInLeft;
}

@keyframes popInLeft {
	0% {
		transform: translate3d(-#{$animationSize}, 0, 0) scale3d(0.1, 0.1, 0.1);
	}

	40% {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale3d(1.08, 1.08, 1.08);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}

	60% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scale3d(1, 1, 1);
	}

	80% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scale3d(1.03, 1.03, 1.03);
	}

	100% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: scale3d(1, 1, 1);
	}
}

.popInRight {
	animation-name: popInRight;
}

@keyframes popInRight {
	0% {
		transform: translate3d(#{$animationSize}, 0, 0) scale3d(0.1, 0.1, 0.1);
	}

	40% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: translate3d(0, 0, 0) scale3d(1.08, 1.08, 1.08);
	}

	60% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scale3d(1, 1, 1);
	}

	80% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scale3d(1.03, 1.03, 1.03);
	}

	100% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: scale3d(1, 1, 1);
	}
}

.popInTop {
	animation-name: popInTop;
}

@keyframes popInTop {
	0% {
		transform: translate3d(0, -#{$animationSize}, 0) scale3d(0.1, 0.1, 0.1);
	}

	40% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: translate3d(0, 0, 0) scale3d(1.08, 1.08, 1.08);
	}

	60% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}

	80% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: translate3d(0, 0, 0) scale3d(1.03, 1.03, 1.03);
	}

	100% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
}

.popInBottom {
	animation-name: popInBottom;
}

@keyframes popInBottom {
	0% {
		transform: translate3d(0, #{$animationSize}, 0) scale3d(0.1, 0.1, 0.1);
	}

	40% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: translate3d(0, 0, 0) scale3d(1.08, 1.08, 1.08);
	}

	60% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}

	80% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: translate3d(0, 0, 0) scale3d(1.03, 1.03, 1.03);
	}

	100% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
}


.flip {
	animation-name: flip;
}

@keyframes flip {
	from {
		transform: perspective(#{$animationSize}) rotateY(-360deg) scale3d(1, 1, 1);
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}

	50% {
		opacity: 1;
		transform: perspective(#{$animationSize}) rotateY(-180deg) scale3d(1.2, 1.2, 1.2);
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}

	to {
		opacity: 1;
		transform: perspective(#{$animationSize}) rotateY(0deg) scale3d(1, 1, 1);
		animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	}
}

.flipInX {
	animation-name: flipInX;

}

@keyframes flipInX {
	from {
		transform: perspective(800px) rotateX(90deg) scale3d(1.2, 1.2, 1.2);
	}

	50% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transform: perspective(800px) rotateX(-20deg) scale3d(1, 1, 1);
	}

	to {
		opacity: 1;
		transform: perspective(800px) rotateX(0deg) scale3d(1, 1, 1);
	}
}

.flipInY {
	animation-name: flipInY;
}

@keyframes flipInY {
	from {
		transform: perspective(800px) rotateY(90deg) scale3d(1.2, 1.2, 1.2);
	}

	50% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transform: perspective(800px) rotateY(-20deg) scale3d(1, 1, 1);
	}

	to {
		opacity: 1;
		transform: perspective(800px) rotateY(0deg) scale3d(1, 1, 1);
	}
}


.fadeIn {
	animation-name: fadeIn;
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadeInRight {
	animation-name: fadeInRight;
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes fadeInRight {
	0% {
		transform: translate3d(#{$animationSize}, 0, 0);
		opacity: 0;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.fadeInLeft {
	animation-name: fadeInLeft;
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes fadeInLeft {
	0% {
		transform: translate3d(-#{$animationSize}, 0, 0);
		opacity: 0;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.fadeInTop {
	animation-name: fadeInTop;
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes fadeInTop {
	0% {
		transform: translate3d(0, -#{$animationSize}, 0);
		opacity: 0;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.fadeInBottom {
	animation-name: fadeInBottom;
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes fadeInBottom {
	0% {
		transform: translate3d(0, #{$animationSize}, 0);
		opacity: 0;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.driveInLeft {
	animation-name: driveInLeft;
}

@keyframes driveInLeft {
	0% {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(-#{$animationSize}, 0, 0);
	}

	30% {
		opacity: 1;
	}

	60% {
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transform: translate3d(30px, 0, 0);
	}

	100% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		transform: translate3d(0, 0, 0);
	}
}

.driveInRight {
	animation-name: driveInRight;

}

@keyframes driveInRight {
	0% {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(#{$animationSize}, 0, 0);
	}

	30% {
		opacity: 1;
	}

	60% {
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transform: translate3d(-30px, 0, 0);
	}

	100% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		transform: translate3d(0, 0, 0);
	}
}

.driveInTop {
	animation-name: driveInTop;

}

@keyframes driveInTop {
	0% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);


		transform: translate3d(0, -#{$animationSize}, 0);
	}

	30% {
		opacity: 1;
	}

	60% {
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transform: translate3d(0, 30px, 0);
	}

	100% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		transform: translate3d(0, 0, 0);
	}
}

.driveInBottom {
	animation-name: driveInBottom;

}

@keyframes driveInBottom {
	0% {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, #{$animationSize}, 0);
	}

	30% {
		opacity: 1;
	}

	60% {
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transform: translate3d(0, -30px, 0);
	}

	100% {
		opacity: 1;

		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		transform: translate3d(0, 0, 0);
	}
}


.spin {
	animation-name: spin;
}

@keyframes spin {
	0% {

		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: rotateZ(0deg);
		transform-origin: center center;
	}

	20% {
		animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transform: rotateZ(-20deg);
		transform-origin: center center;
		opacity: 1;

	}

	70% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: rotateZ(380deg);
		transform-origin: center center;
	}

	100% {
		opacity: 1;

		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: rotateZ(360deg);
		transform-origin: center center;
	}
}

.spinIn {
	animation-name: spinIn;

}

@keyframes spinIn {
	0% {
		animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
		transform: rotateZ(0deg) scale3d(0, 0, 0);
		transform-origin: center center;
	}

	50% {
		opacity: 1;
	}

	70% {
		transform: rotateZ(380deg) scale3d(1, 1, 1);
		transform-origin: center center;
	}

	100% {
		opacity: 1;
		transform: rotateZ(360deg) scale3d(1, 1, 1);
		transform-origin: center center;
	}
}


.swoopInLeft {
	animation-name: swoopInLeft;

}

@keyframes swoopInLeft {
	0% {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: scaleX(1.5) translate3d(-#{$animationSize}, 0, 0);
	}

	40% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleX(1.2) translate3d(0, 0, 0);
	}

	65% {
		transform: scaleX(1) translate3d(20px, 0, 0);
	}

	100% {
		opacity: 1;

		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleX(1) translate3d(0, 0, 0);
	}
}

.swoopInRight {
	animation-name: swoopInRight;

}

@keyframes swoopInRight {
	0% {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: scaleX(1.5) translate3d(#{$animationSize}, 0, 0);
	}

	40% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleX(1.2) translate3d(0, 0, 0);
	}

	65% {
		transform: scaleX(1) translate3d(-20px, 0, 0);
	}

	100% {
		opacity: 1;

		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleX(1) translate3d(0, 0, 0);
	}
}

.swoopInTop {
	animation-name: swoopInTop;

}

@keyframes swoopInTop {
	0% {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: scaleY(1.5) translate3d(0, -#{$animationSize}, 0);
	}

	40% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleY(1.2) translate3d(0, 0, 0);
	}

	65% {
		transform: scaleY(1) translate3d(0, 20px, 0);
	}

	100% {
		opacity: 1;

		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleY(1) translate3d(0, 0, 0);
	}
}

.swoopInBottom {
	animation-name: swoopInBottom;

}

@keyframes swoopInBottom {
	0% {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: scaleY(1.5) translate3d(0, 250px, 0);
	}

	40% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleY(1.2) translate3d(0, 0, 0);
	}

	65% {
		transform: scaleY(1) translate3d(0, -20px, 0);
	}

	100% {
		opacity: 1;

		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleY(1) translate3d(0, 0, 0);
	}
}


.unfold {
	animation-name: unfold;
}

@keyframes unfold {
	0% {
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: scale3d(0, 0, 0);
	}


	30% {
		animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transform: scale3d(0.4, 1, 1);
	}

	100% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
		transform: scale3d(1, 1, 1);
	}
}


/* 
.jumpOutRight {
	animation-name: jumpOutRight;
	animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	backface-visibility: hidden;
}

@keyframes jumpOutRight {
	0% {
		transform: scale3d(1, 1, 1) rotate(0deg);
	}
	30% {
		transform: scale3d(0.9, 0.9, 0.9) rotate(5deg);
	}
	70% {
		opacity: 1;
		transform: scale3d(1.2, 1.2, 1.2) rotate(-10deg);
	}
	100% {
		opacity: 0;
		transform: scale3d(0.5, 0.5, 0.5) rotate(90deg);
	}
}



.jumpOutLeft {
	animation-name: jumpOutLeft;
	animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	backface-visibility: hidden;
}

@keyframes jumpOutLeft {
	0% {
		transform: scale3d(1, 1, 1) rotate(0deg);
	}
	30% {
		transform: scale3d(0.9, 0.9, 0.9) rotate(-5deg);
	}
	70% {
		opacity: 1;
		transform: scale3d(1.2, 1.2, 1.2) rotate(10deg);
	}
	100% {
		opacity: 0;
		transform: scale3d(0.5, 0.5, 0.5) rotate(-90deg);
	}
}



.rollOutLeft {
	animation-name: rollOutLeft;
	
	backface-visibility: hidden;
}

@keyframes rollOutLeft {
	0% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transform: translateX(0) rotate(0deg);
	}
	40% {
		opacity: 1;
		transform: translateX(20px) rotate(-20deg);
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: translateX(-#{$animationSize}) rotate(-445deg);
	}
}

.rollOutRight {
	animation-name: rollOutRight;
	
	backface-visibility: hidden;
}

@keyframes rollOutRight {
	0% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transform: translateX(0) rotate(0deg);
	}
	40% {
		opacity: 1;
		transform: translateX(-20px) rotate(20deg);
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: translateX(#{$animationSize}) rotate(445deg);
	}
}

.rollOutTop {
	animation-name: rollOutTop;
	
	backface-visibility: hidden;
}

@keyframes rollOutTop {
	0% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transform: translateY(0) rotate(0deg);
	}
	40% {
		opacity: 1;
		transform: translateY(20px) rotate(20deg);
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: translateY(-#{$animationSize}) rotate(445deg);
	}
}

.rollOutBottom {
	animation-name: rollOutBottom;
	
	backface-visibility: hidden;
}

@keyframes rollOutBottom {
	0% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transform: translateY(0) rotate(0deg);
	}
	40% {
		opacity: 1;
		transform: translateY(-20px) rotate(-20deg);
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: translateY(#{$animationSize}) rotate(-445deg);
	}
}



.popOut {
	animation-name: popOut;
	
}

@keyframes popOut {
	0% {
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: scale3d(1, 1, 1);
	}
	60% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scale3d(1.08, 1.08, 1.08);
	}
	80% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: scale3d(0.3, 0.3, 0.3);
	}
}

.popOutLeft {
	animation-name: popOutLeft;
	
}

@keyframes popOutLeft {
	0% {
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
		transform-origin: left center;
	}
	40% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scale3d(1.08, 1.08, 1.08) translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: scale3d(0.5, 0.5, 0.5) translate3d(-#{$animationSize}, 0, 0);
	}
}

.popOutRight {
	animation-name: popOutRight;
	backface-visibility: hidden;
	
}

@keyframes popOutRight {
	0% {
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
		transform-origin: right center;
	}
	40% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scale3d(1.08, 1.08, 1.08) translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: scale3d(0.5, 0.5, 0.5) translate3d(#{$animationSize}, 0, 0);
	}
}

.popOutTop {
	animation-name: popOutTop;
	backface-visibility: hidden;
	
}

@keyframes popOutTop {
	0% {
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
		transform-origin: top center;
	}
	40% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scale3d(1.08, 1.08, 1.08) translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: scale3d(0.5, 0.5, 0.5) translate3d(0, -#{$animationSize}, 0);
	}
}

.popOutBottom {
	animation-name: popOutBottom;
	backface-visibility: hidden;
	
}

@keyframes popOutBottom {
	0% {
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
		transform-origin: bottom center;
	}
	40% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scale3d(1.08, 1.08, 1.08) translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: scale3d(0.5, 0.5, 0.5) translate3d(0, #{$animationSize}, 0);
	}
}

.flipOutX {
	animation-name: flipOutX;
}

@keyframes flipOutX {
	from {
		transform: perspective(#{$animationSize}) rotateX(0deg) scale3d(1, 1, 1);
	}
	60% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transform: perspective(#{$animationSize}) rotateX(-30deg) scale3d(1, 1, 1);
	}
	to {
		opacity: 0;
		transform: perspective(#{$animationSize}) rotateX(90deg) scale3d(1.2, 1.2, 1.2);
	}
}

.flipOutY {
	flipOutY;
	animation-name: flipOutY;
}

@keyframes flipOutY {
	from {
		transform: perspective(#{$animationSize}) rotateY(0deg) scale3d(1, 1, 1);
	}
	60% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transform: perspective(#{$animationSize}) rotateY(-30deg) scale3d(1, 1, 1);
	}
	to {
		opacity: 0;
		transform: perspective(#{$animationSize}) rotateY(90deg) scale3d(1.2, 1.2, 1.2);
	}
}


.fadeOut {
	animation-name: fadeOut;
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fadeOutLeft {
	animation-name: fadeOutLeft;
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes fadeOutLeft {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	100% {
		transform: translate3d(-#{$animationSize}, 0, 0);
		opacity: 0;
	}
}

.fadeOutRight {
	animation-name: fadeOutRight;
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes fadeOutRight {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	100% {
		transform: translate3d(#{$animationSize}, 0, 0);
		opacity: 0;
	}
}

.fadeOutTop {
	animation-name: fadeOutTop;
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes fadeOutTop {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	40% {
		opacity: 0.2;
	}
	100% {
		transform: translate3d(0, -#{$animationSize}, 0);
		opacity: 0;
	}
}

.fadeOutBottom {
	animation-name: fadeOutBottom;
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes fadeOutBottom {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	40% {
		opacity: 0.2;
	}
	100% {
		transform: translate3d(0, #{$animationSize}, 0);
		opacity: 0;
	}
}


.driveOutLeft {
	animation-name: driveOutLeft;
	
}

@keyframes driveOutLeft {
	0% {
		animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transform: translate3d(0, 0, 0);
	}
	30% {
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transform: translate3d(30px, 0, 0);
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transform: translate3d(-#{$animationSize}, 0, 0);
	}
}

.driveOutRight {
	animation-name: driveOutRight;
	
}

@keyframes driveOutRight {
	0% {
		animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transform: translate3d(0, 0, 0);
	}
	30% {
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transform: translate3d(-30px, 0, 0);
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transform: translate3d(#{$animationSize}, 0, 0);
	}
}

.driveOutTop {
	animation-name: driveOutTop;
	
}

@keyframes driveOutTop {
	0% {
		animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transform: translate3d(0, 0, 0);
	}
	30% {
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transform: translate3d(0, 30px, 0);
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transform: translate3d(0, -#{$animationSize}, 0);
	}
}

.driveOutBottom {
	animation-name: driveOutBottom;
	
}

@keyframes driveOutBottom {
	0% {
		animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transform: translate3d(0, 0, 0);
	}
	30% {
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transform: translate3d(0, -30px, 0);
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transform: translate3d(0, #{$animationSize}, 0);
	}
}

.spinOut {
	animation-name: spinOut;
	
}

@keyframes spinOut {
	0% {
		animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
		transform: rotateZ(0deg) scale3d(1, 1, 1);
		transform-origin: center center;
	}
	20% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transform: rotateZ(-20deg) scale3d(1, 1, 1);
		transform-origin: center center;
	}
	30% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
		transform: rotateZ(360deg) scale3d(0, 0, 0);
		transform-origin: center center;
	}
}

.swoopOutLeft {
	animation-name: swoopOutLeft;
	
}

@keyframes swoopOutLeft {
	0% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleX(1) translate3d(0, 0, 0);
	}
	40% {
		opacity: 1;
		transform: scaleX(1) translate3d(20px, 0, 0);
	}
	60% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleX(1.2) translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: scaleX(1.5) translate3d(-#{$animationSize}, 0, 0);
	}
}

.swoopOutRight {
	animation-name: swoopOutRight;
	
}

@keyframes swoopOutRight {
	0% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleX(1) translate3d(0, 0, 0);
	}
	40% {
		opacity: 1;
		transform: scaleX(1) translate3d(-20px, 0, 0);
	}
	60% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleX(1.2) translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: scaleX(1.5) translate3d(#{$animationSize}, 0, 0);
	}
}

.swoopOutTop {
	animation-name: swoopOutTop;
	
}

@keyframes swoopOutTop {
	0% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleY(1) translate3d(0, 0, 0);
	}
	40% {
		opacity: 1;
		transform: scaleY(1) translate3d(0, 20px, 0);
	}
	60% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleY(1.2) translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: scaleY(1.5) translate3d(0, -#{$animationSize}, 0);
	}
}

.swoopOutBottom {
	animation-name: swoopOutBottom;
	
}

@keyframes swoopOutBottom {
	0% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleY(1) translate3d(0, 0, 0);
	}
	40% {
		opacity: 1;
		transform: scaleY(1) translate3d(0, -20px, 0);
	}
	60% {
		animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
		transform: scaleY(1.2) translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: scaleY(1.5) translate3d(0, #{$animationSize}, 0);
	}
}

.fold {
	animation-name: fold;
}

@keyframes fold {
	0% {
		animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform: scale3d(1, 1, 1);
	}
	30% {
		animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transform: scale3d(1, 0.4, 1);
	}
	60% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transform: scale3d(0.4, 0.4, 1);
	}
	100% {
		opacity: 0;
		animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
		transform: scale3d(0.2, 0.2, 0.2);
	}
}
*/